<div class="ldoa-backgrounds-container">
    <div class="ldoa-backgrounds-container-row">
	    <div class="ldoa-background-name">{{localize localeKeys.label}}</div>
	    <div class="ldoa-background-origin">{{localize originLocaleKey}}</div>
	    <div class="ldoa-boon-entry-actions">
	        <i class="fas fa-info-circle ldoa-info-icon" data-content="{{localize localeKeys.description}}"></i>
        </div>
	</div>
</div>