<div class="ldoa-tab-body-container">
	{{> "systems/lastdays/templates/partials/cs-front-page-tab-body.hbs"}}

	{{> "systems/lastdays/templates/partials/cs-equipment-tab-body.hbs"}}

	{{> "systems/lastdays/templates/partials/cs-magic-tab-body.hbs"}}

	{{> "systems/lastdays/templates/partials/cs-boons-tab-body.hbs"}}

    {{> "systems/lastdays/templates/partials/cs-saga-tab-body.hbs"}}

    {{> "systems/lastdays/templates/partials/cs-background-tab-body.hbs"}}
</div>
