{{#stressed}}
  {{> "systems/lastdays/templates/messages/stressed.hbs"}}
{{/stressed}}

<p>
    {{localize "ldoa.messages.blurbs.attacksWith"}}: {{weapon}}
</p>

{{> "systems/lastdays/templates/messages/roll.hbs" roll}}

{{#damage}}
  {{> "systems/lastdays/templates/messages/damage.hbs"}}
{{/damage}}
