{{#doomed}}
  {{> "systems/lastdays/templates/messages/doomed.hbs"}}
{{/doomed}}

{{> "systems/lastdays/templates/messages/roll.hbs" roll}}
<p class="ldoa-damage-details">
    {{localize "ldoa.messages.blurbs.damageInflicted"}}: {{roll.result}}
</p>
