<p>
    {{localize "ldoa.messages.blurbs.rollsDoom"}}: {{actor}}
</p>

{{> "systems/lastdays/templates/messages/roll.hbs" roll}}

{{#doomed}}
  {{> "systems/lastdays/templates/messages/doomed.hbs"}}
{{/doomed}}
