<p>
    [{{actor}}] {{localize "ldoa.messages.blurbs.casts"}}: {{spell}}
</p>

{{> "systems/lastdays/templates/messages/roll.hbs" roll}}

<p class="ldoa-summon-results">
    {{localize "ldoa.messages.blurbs.castSuccess"}}
</p>
