<p>
    [{{actor}}] {{localize "ldoa.messages.blurbs.calls"}}: {{spirit}}
</p>

{{> "systems/lastdays/templates/messages/roll.hbs" roll}}

<p class="ldoa-summon-results">
    {{localize "ldoa.messages.blurbs.callSuccess"}}
</p>
