<p class="ldoa-stressed-notice">
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="ldoa-roll-column-content">
                        <i class="fas fa-skull"></i>
                    </div>
                </td>
                <td>
                    <div class="ldoa-roll-column-content">
                        {{localize "ldoa.messages.blurbs.stressed"}}
                    </div>
                </td>
                <td>
                    <div class="ldoa-roll-column-content">
                        <i class="fas fa-skull"></i>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</p>
