<p>
    {{localize "ldoa.messages.blurbs.rollsUsageDie"}}: {{item}}
</p>

{{> "systems/lastdays/templates/messages/roll.hbs" roll}}

{{#downgraded}}
<p class="ldoa-usage-die-feedback">
    {{feedback}}
</p>
{{/downgraded}}
