<form class="{{cssClass}}" autocomplete="off">
	<div class="ldoa-equipment-body">
		<div>
			<img class="ldoa-item-image" data-edit="img" src="{{item.img}}" title="{{item.name}}">
			<hr>

			<div class="ldoa-field">
				<label class="ldoa-label">{{localize "ldoa.fields.labels.power"}}</label>
				<select name="system.power" class="ldoa-input ldoa-select">
					{{{selectOptions configuration.powersList selected=item.system.power localize=true }}}
				</select>
			</div>
		</div>

		<div>
		    <div class="ldoa-field">
		    	<input class="ldoa-enlarged-input" name="name" type="text" value="{{item.name}}" />
		    </div>
		    <hr>

			<div class="ldoa-field">
				<label for="system.description" class="ldoa-label">{{localize "ldoa.fields.labels.description"}}</label>
				{{editor item.system.description target="system.description" button=true owner=owner editable=editable}}
			</div>
		</div>
	</div>
</form>